<div class="content-lg container">
		<div class="showcase-title margin-b-80">
				<h1 class="margin-b-10">Explore</h1>
				<p class="text-uppercase">Information and resources to learn about nonvolatile processor</p>
		</div>

		<div class="row">

				<div class="explore-item col-sm-4 sm-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="img/explore/blackboard.png" alt="NVP Fundamentals">
						</div>
						<h3><a routerLink="/explore/nvp-fundamentals">NVP Fundamentals </a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
						<a routerLink="/explore/nvp-fundamentals" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

				<div class="explore-item col-sm-4 sm-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="img/explore/rocket.png" alt="Getting Started">
						</div>
						<h3><a routerLink="/platform/getting-started">Getting Started </a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
						<a routerLink="/platform/getting-started" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

				<div class="explore-item col-sm-4 sm-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="img/explore/bookshelf.png" alt="Recommended Reading">
						</div>
						<h3><a routerLink="./breath-monitor">Recommended Reading</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
						<a routerLink="/explore/recommended-reading" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

		</div>
</div>
