<div class="content-sm container plain-content">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>NVP Fundamentals</h1>
			<div class="well">
				<em>
					New to nonvolatile processors? Don't worry, we'll help you understand the fundamentals within just a few minutes. Get started now and make yourself an NVP-pro!
				</em>
			</div>
			<h2>What Is Nonvolatile Processor (NVP)?</h2>
			<h2>Why NVP Outperforms Volatile Processor?</h2>
			<h2>How To Design An NVP?</h2>
			<h2>What's NVP's Applications?</h2>


		</div>
	</div>
</div>
