<div class="content-sm container plain-content">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>Low-Power IoT</h1>
			<div class="well">
				<em>
					The power consumption of trillions of devices has become a major challenge in the IoT era. Can nonvolatile processors save power for the IoT?
				</em>
			</div>
			<!--<div class="embed-responsive embed-responsive-16by9 margin-b-30">-->
          <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UaXRcAYKol8"></iframe>-->
			<!--</div>-->
		</div>
	</div>
</div>
