<div class="content-lg container">
		<div class="showcase-title margin-b-80">
				<h1 class="margin-b-10">Showcase</h1>
				<p class="text-uppercase">Real-world applications built with nonvolatile processor</p>
		</div>
		<!--// end row -->

		<div class="row">
				<!-- Latest Products -->
				<div class="col-sm-4 sm-margin-b-50">
						<div class="showcase-item margin-b-20">
								<img class="img-responsive" src="img/970x647/01.jpg" alt="Latest Products Image">
								<div class="play-wrapper"><div class="test"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></div>
						</div>
						<h4><a routerLink="./breath-monitor">Breath Monitor </a><span class="text-uppercase margin-l-20 visible-lg-inline">Smart Healthcare</span></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
						<a class="link" routerLink="./breath-monitor">Read More</a>
				</div>
				<!-- End Latest Products -->

				<!-- Latest Products -->
				<div class="col-sm-4 sm-margin-b-50">
						<div class="margin-b-20">
								<img class="img-responsive" src="img/970x647/02.jpg" alt="Latest Products Image">
						</div>
						<h4><a href="#">UV Patch</a> <span class="text-uppercase margin-l-20 visible-lg-inline">Wearable Device</span></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
						<a class="link" href="#">Read More</a>
				</div>
				<!-- End Latest Products -->

				<!-- Latest Products -->
				<div class="col-sm-4 sm-margin-b-50">
						<div class="margin-b-20">
								<img class="img-responsive" src="img/970x647/03.jpg" alt="Latest Products Image">
						</div>
						<h4><a href="#">Bridge Monitoring System</a> <span class="margin-l-20 visible-lg-inline">IoT</span></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
						<a class="link" href="#">Read More</a>
				</div>
				<!-- End Latest Products -->
		</div>
		<!--// end row -->
</div>
