<div class="content-sm container">
	<div class="row">
		<div class="normal-content col-lg-10 col-lg-offset-1">
			<h1>About Us</h1>
			<p>At NVLabs, our goal is to advance the Internet-of-Things with our cutting-edge nonvolatile processor technology, improving the efficiency, performance and reliability. Since 2012, we have been dedicated to building the next generation computing device by making full use of the emerging nonvolatile memory technology, and have designed the world's first practical nonvolatile processor. Our award-winning, zero standby power and fast startup nonvolatile processors, combined with a complete set of development tools, will enable the world's engineers to design innovative new products in the fields of wearable devices, smart healthcare, wireless sensor networks and energy harvesting systems. <p> 
			<h1>Partners</h1>
			<div id="sponsor-list" class="owl-carousel owl-theme">
				<div class="item">
					<img src="img/clients/01.png" alt="sponsor4" class="center-block" style="width: 180px; " >
				</div>
				<div class="item">
					<img src="img/clients/02.png" alt="sponsor4" class="center-block" style="width: 180px;" >
				</div>
				<div class="item">
					<img src="img/clients/03.png" alt="863" class="center-block" style="width: 180px;">
				</div>  
				<div class="item">
					<img src="img/clients/04.png" alt="973" class="center-block" style="width: 180px;">
				</div> 
				<div class="item" href="http://www.rohm.com" >
					<a href="https://www.rohm.com"><img src="img/clients/05.png" alt="ROHM Semiconductor" class="center-block" style="width: 180px;"></a>
				</div>
				<div class="item">
					<a href="https://www.huawei.com"><img src="img/clients/06.png" alt="HUAWEI" class="center-block" style="width: 180px;"></a>
				</div>
			</div>  
			<h1>Contact Us</h1>
			<div class="row">
				<div class="col-lg-4 col-lg-push-8">
					<h3>Head Office<span class="text-uppercase margin-l-20">Beijing</span></h3>
					<ul class="list-unstyled contact-list">
						<li>
							<i class="margin-r-10 color-base fa fa-map-marker"></i> 
							4-301 Rohm building,
							<br>
							<i class="margin-r-10 fa fa-fake"> </i>
							Tsinghua University,
							<br>
							<i class="margin-r-10 fa fa-fake"></i>
							Beijing, China, 100084
						</li>
						<li>
							<i class="margin-r-10 color-base fa fa-phone-square"></i>
							86 10 12345678
						</li>
						<li>
							<i class="margin-r-10 color-base fa fa-envelope"></i>
							contact@nvlabs.cc
						</li>
					</ul>
				</div>
				<div class="col-lg-8 col-lg-pull-4">
					<div id="map" class="map height-300"></div>
				</div>
			</div>
		</div>
	</div>
</div>
