<div class="content-sm container">
	<div class="row">
		<div class="normal-content col-lg-9 col-lg-offset-2">
			<h1>Breath Monitor<span class="text-uppercase margin-l-40 visible-lg-inline">Smart Healthcare</span></h1>
			<div class="embed-responsive embed-responsive-16by9">
    			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jK77uDYnLV4"></iframe>
			</div>
			<h2>Getting Started</h2>
			<p><a href="#">This is a link. </a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
			<figure class="figure margin-b-20">
				<img src="img/970x647/02.jpg" class="img-responsive rounded" alt="This is a figure.">
			</figure>
	
			<h2>Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
		</div>
	</div>
</div>