<div class="content container" id="platformTop">
		<div class="row">
				<div class="col-lg-9 col-lg-offset-2">
						<div class="product-title">
								 <h1 [affix]="40">NVPEval Platform <small>REV0</small></h1>
						</div>
						<div class="row product-intro margin-b-50">
								<div class="col-xs-7 platform-carousel">
										<div id="carouselPlatform" class="carousel slide margin-b-10" data-ride="carousel">
												<div class="carousel-inner" role="listbox">
														<div class="item active">
																<img class="img-responsive" src="img/platform/01.jpg" alt="NVPEval Front">
														</div>
														<div class="item">
																<img class="img-responsive" src="img/platform/01.jpg" alt="NVPEval Front">
														</div>
														<div class="item">
																<img class="img-responsive" src="img/platform/01.jpg" alt="NVPEval Front">
														</div>
														<div class="item">
																<img class="img-responsive" src="img/platform/01.jpg" alt="NVPEval Front">
														</div>
												</div>
										</div>
								</div>
								<div class="col-xs-5">
										<p class="margin-l-40 margin-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
								</div>
								<div class="col-xs-7">
										<div class="row thumbs">
												<a class="col-xs-3" data-target="#carouselPlatform" data-slide-to="0">
														<img class="img-responsive img-thumbnail" id="platform-carousel-thumb-0" src="img/platform/01.jpg">
												</a>
												<a class="col-xs-3" data-target="#carouselPlatform" data-slide-to="1">
														<img class="img-responsive img-thumbnail" id="platform-carousel-thumb-0" src="img/platform/01.jpg">
												</a>
												<a class="col-xs-3" data-target="#carouselPlatform" data-slide-to="2">
														<img class="img-responsive img-thumbnail" id="platform-carousel-thumb-0" src="img/platform/01.jpg">
												</a>
												<a class="col-xs-3" data-target="#carouselPlatform" data-slide-to="3">
														<img class="img-responsive img-thumbnail" id="platform-carousel-thumb-0" src="img/platform/01.jpg">
												</a>
										</div>  
								</div>
								<div class="col-xs-5">
										<div class="margin-l-40">
												<button href="#" class="btn-theme btn-white-bg btn-block text-uppercase">Buy Now</button>
												<button href="#" class="btn-theme btn-color1-bg btn-block text-uppercase">Get Started</button>
										</div>                                           
								</div>
						</div>
						<div class="product-nav">
								<div class="nav-wrapper" [affix]="497">
										<ul class="nav nav-tabs">
												<li class="active"><a data-toggle="tab" href="#overview">OVERVIEW</a></li>
												<li><a data-toggle="tab" href="#techSpecs">TECH SPECS</a></li>
												<li><a data-toggle="tab" href="#downloads" onClick="window.scroll(0, 497)">DOWNLOADS</a></li>
										</ul>
										<div class="shadow"></div>
								</div>
						</div>
						<div class="product-content">
								<div class="tab-content">
										<div id="overview" class="tab-pane fade in active">
												<div class="section">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
												</div>
												<div class="section">
														<h2>Features</h2>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
														<ul>
																<li>The First Feature</li>
																<li>The Second Feature</li>
																<li>The Third Feature</li>
														</ul>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														</p>
														<figure class="figure margin-b-20">
																<img src="img/970x647/02.jpg" class="img-responsive rounded" alt="This is a figure.">
<!--                                        <figcaption class="figure-caption">This is a figure</figcaption>-->
														</figure>
														<p>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non   
														</p>
												</div>
												<div class="section">
														<h2>Getting Started</h2>
														<p><a href="#">This is a link. </a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
												</div>
										</div>
										<div id="techSpecs" class="tab-pane fade">
												<table class="table table-striped table-hover">
														<tbody>
																<tr>
																		<td>Microcontroller</td>
																		<td>8051</td>
																</tr>
																<tr>
																		<td>Operating Voltage</td>
																		<td>3.3 V</td>
																</tr>
																<tr>
																		<td>Clock Speed</td>
																		<td>25 MHz</td>
																</tr>
																<tr>
																		<td>DC Current</td>
																		<td>10 mA @ 25 MHz, 2 mA @ Backup, 3 mA @ Restore</td>
																</tr>
																<tr>
																		<td>Digital I/O Pins</td>
																		<td>100</td>
																</tr>
																<tr>
																		<td>Flash Memory</td>
																		<td>64 KB</td>
																</tr>
																<tr>
																		<td>FeRAM</td>
																		<td>16 KB</td>
																</tr>
																<tr>
																		<td>Backup Speed</td>
																		<td>2 Clock Cycles</td>
																</tr>
																<tr>
																		<td>Restore Speed</td>
																		<td>2 Clock Cycles</td>
																</tr>
																<tr>
																		<td>UART</td>
																		<td>2</td>
																</tr>
																<tr>
																		<td>I2C</td>
																		<td>1</td>
																</tr>
																<tr>
																		<td>Length</td>
																		<td>100 mm</td>
																</tr>
																<tr>
																		<td>Width</td>
																		<td>55.6 mm</td>
																</tr>
																<tr>
																		<td>Height</td>
																		<td>12.2 mm</td>
																</tr>
																<tr>
																		<td>Weight</td>
																		<td>145 g</td>
																</tr>
														</tbody>
												</table>
										</div>
										<div id="downloads" class="tab-pane fade">
												<div class="section">
														<h2>Schematics</h2>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
														<button href="#" class="btn-theme btn-theme-lg btn-color3-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Schematics in .PDF</button> 
														<button href="#" class="btn-theme btn-theme-lg btn-color2-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>PCB Project in .ZIP</button> 
														
												</div>
												<div class="section">
														<h2>THU-1010N Datasheet</h2>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
														
														<button href="#" class="btn-theme btn-theme-lg btn-color1-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Datasheet in .pdf</button>
												</div>
												<div class="section">
														<h2>Coding Examples</h2>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
														
														<button href="#" class="btn-theme btn-theme-lg btn-color4-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Examples in .zip</button>
												</div>
										</div>
								</div>
								
								
						</div>
				</div>
		</div>
</div>
