<div id="carousel-home" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
				<div class="item active">
						<img class="img-responsive" src="img/1920x1080/01.jpg" alt="Slider Image">
						<div class="container">
								<div class="carousel-centered">
										<div class="margin-b-30">
												<h1 class="carousel-title">A little energy, <br> a lot of possibilities</h1>
										</div>
										<a href="#" class="btn-theme btn-theme-sm btn-white-brd carousel-btn text-uppercase"><i class="fa fa-play" aria-hidden="true"></i> Nonvolatile Processor in 1 minute</a>
								</div>
						</div>
				</div>
		</div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Intro -->
<div id="intro">
		<div class="content-lg container">
				<div class="intro-title margin-b-60">
						<p>WELCOME TO NVLABS</p>
						<h1>Create Energy-Efficient IoT Solutions <br>With Nonvolatile Processors </h1>
				</div>
				<!-- Masonry Grid -->
				<div class="row">
						<div class="intro-item col-xs-12 col-sm-6 col-md-6">
								<div class="margin-b-30">
										<img class="intro-icon img-responsive wow fadeInUp" src="img/500x500/platform.png" alt="Development Platform" data-wow-duration=".3" data-wow-delay=".3s">
								</div>
								<h2 class="margin-b-5">NVPEval Platform</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
								<a href="#" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">Explore</a>                    
						</div>
						<div class="intro-item col-xs-12 col-sm-6 col-md-6">
								<div class="margin-b-30">
										<img class="main-business-icon img-responsive wow fadeInUp" src="img/500x500/simulator.png" alt="NVPSim Simulator" data-wow-duration=".3" data-wow-delay=".3s">
								</div>
								<h2 class="margin-b-5">Gem5-NVP Simulator</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
								<a href="#" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">Explore</a>
						</div>
				</div>
				<!-- End Masonry Grid -->
		</div>
</div>
<!-- End Intro -->

<!-- Showcase -->
<div id="showcase" class="bg-color-sky-light">
		<div class="content-lg container">
				<div class="showcase-title margin-b-50">
						<h1 class="margin-b-10">Showcase</h1>
						<p class="text-uppercase">Real-world applications built with nonvolatile processor</p>
				</div>
				<!--// end row -->

				<div class="row">
						<!-- Latest Products -->
						<div class="col-sm-4 sm-margin-b-50">
								<div class="showcase-item margin-b-20">
										<img class="img-responsive" src="img/970x647/01.jpg" alt="Latest Products Image">
										<div class="play-wrapper"><div class="test"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></div>
								</div>
								<h4><a href="#">Breath Monitor </a><span class="text-uppercase margin-l-20 visible-lg-inline">Smart Healthcare</span></h4>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
								<a class="link" href="#">Read More</a>
						</div>
						<!-- End Latest Products -->

						<!-- Latest Products -->
						<div class="col-sm-4 sm-margin-b-50">
								<div class="margin-b-20">
										<img class="img-responsive" src="img/970x647/02.jpg" alt="Latest Products Image">
								</div>
								<h4><a href="#">UV Patch</a> <span class="text-uppercase margin-l-20 visible-lg-inline">Wearable Device</span></h4>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
								<a class="link" href="#">Read More</a>
						</div>
						<!-- End Latest Products -->

						<!-- Latest Products -->
						<div class="col-sm-4 sm-margin-b-50">
								<div class="margin-b-20">
										<img class="img-responsive" src="img/970x647/03.jpg" alt="Latest Products Image">
								</div>
								<h4><a href="#">Bridge Monitoring System</a> <span class="margin-l-20 visible-lg-inline">IoT</span></h4>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
								<a class="link" href="#">Read More</a>
						</div>
						<!-- End Latest Products -->
				</div>
				<!--// end row -->
		</div>
</div>
<!-- End Showcase -->


