<div class="content-top carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
				<div class="item active">
						<img class="img-responsive" src="img/1920x1080/01.jpg" alt="Slider Image">
						<div class="container">
								<div class="carousel-centered">
										<div class="margin-b-30">
												<h1 class="carousel-title">A little energy, <br> a lot of possibilities</h1>
										</div>
										<a href="#" class="btn-theme btn-theme-sm btn-white-brd carousel-btn text-uppercase"><i class="fa fa-play" aria-hidden="true"></i> Nonvolatile Processor in 1 minute</a>
								</div>
						</div>
				</div>
		</div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Intro -->
<div class="bg-color-sky-light">
		<div class="content-lg container">
				<div class="intro-title margin-b-60">
						<p>WELCOME TO NVLABS</p>
						<h1>Create Energy-Efficient IoT Solutions <br>With Nonvolatile Processors </h1>
				</div>
				<!-- Masonry Grid -->
				<div class="row">
						<div class="intro-item col-xs-12 col-sm-6 col-md-6">
								<div class="margin-b-30">
									<img class="intro-icon img-responsive" src="img/500x500/platform.png" alt="Development Platform">
								</div>
								<h2 class="margin-b-5">NVPEval Platform</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
								<a routerLink="/platform" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Details</a>                    
						</div>
						<div class="intro-item col-xs-12 col-sm-6 col-md-6">
								<div class="margin-b-30">
										<img class="main-business-icon img-responsive" src="img/500x500/simulator.png" alt="NVPSim Simulator">
								</div>
								<h2 class="margin-b-5">Gem5-NVP Simulator</h2>
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
								<a routerLink="/simulator" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Details</a>
						</div>
				</div>
				<!-- End Masonry Grid -->
		</div>
</div>
<!-- End Intro -->

<div>
	<nvlabs-showcase></nvlabs-showcase>
</div>

<div class="bg-color-sky-light">
	<nvlabs-explore></nvlabs-explore>
<div>
